##############################################################################

#

#   Instalación automatizada de Debian

#

##############################################################################


#Configuración de lenguaje

d-i debian-installer/locale string es_ES
d-i debian-installer/language string spanish
d-i debian-installer/country string Spain
d-i debian-installer/locale string es_ES.UTF-8
d-i localechooser/supported-locales es_ES.UTF-8

#Configuración de teclado

d-i keyboard-configuration/toggle select No toggling
d-i keymap select es
d-i console-setup/ask_detect boolean true
d-i keyboard-configuration/modelcode string pc105
d-i keyboard-configuration/layoutcode string es
d-i keyboard-configuration/variantcode string qwerty

#Configuración de interfaz

d-i netcfg/choose_interface select auto

#Creación del usuario y superusuario

d-i passwd/root-password password usuario
d-i passwd/root-password-again password usuario
d-i passwd/user-fullname string usuario 
d-i passwd/username string usuario
d-i passwd/user-password password usuario
d-i passwd/user-password-again password usuario

#Configuración del nombre del host y selección de dominio

d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string
d-i hw-detect/load_firmware boolean false

#Seleccionamos zona horaria (España en nuestro caso)

d-i clock-setup/utc boolean true
d-i time/zone string ES/Madrid
d-i clock-setup/ntp boolean true

#Configuramos el repositorio Debian

d-i mirror/country string manual
d-i mirror/http/hostname string ftp.es.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

#Configuración de la negativa a la participación en la encuesta

popularity-contest popularity-contest/participate boolean false

#Configuración de particiones

#Vamos a realizar un LVM creando volúmenes lógicos /, home y var.

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-auto-lvm/new_vg_name string vg00
d-i partman-auto-lvm/guided_size string max
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select andy_lvm
d-i partman-auto/expert_recipe string                         \

       andy_lvm ::                                           \

              2048 1 2048 ext4                                \

                      $primary{ } $bootable{ }                \

                      method{ format } format{ }              \

                      use_filesystem{ } filesystem{ ext4 }    \

                      label{ boot }                           \

                      mountpoint{ /boot }                     \

              .                                               \

              16384 16384 16384 ext4                          \

                    $primary{ }                               \

                    method{ lvm }                             \

                    device{ /dev/sda }                        \

                    vg_name{ vg00 }                           \

              .                                               \

              6656 6656 6656 ext4                             \

                     $lvmok{ } in_vg{ vg00 }                  \

                     lv_name{ lv_root }                       \

                     method{ format } format{ }               \

                     use_filesystem{ } filesystem{ ext4 }     \

                     label { root }                           \

                     mountpoint{ / }                          \

              .                                               \

              2048 2048 2048 ext4                             \

                     $lvmok{ } in_vg{ vg00 }                  \

                     lv_name{ var }                           \

                     method{ format } format{ }               \

                     use_filesystem{ } filesystem{ ext4  }    \

                     label { var }                            \

                     mountpoint{ /var }                       \

              .                                               \

              6656 6656 6656 ext4                             \

                     $lvmok{ } in_vg{ vg00 }                  \

                     lv_name{ lv_home }                       \

                     method{ format } format{ }               \

                     use_filesystem{ } filesystem{ ext4 }     \

                     label { home }                           \

                     mountpoint{ /home }                      \

              .

#Finalización de la partición

d-i partman-basicfilesystems/no_swap boolean false
d-i partman-lvm/confirm boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select Finish partitioning and write changes to disk
d-i partman/confirm boolean true
d-i mdadm/boot_degraded boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true

#Análisis de medios adicionales

d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

#Instalación del grub

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

#Selección de paquetes

tasksel tasksel/first multiselect standard, ssh-server

#Finalización de la instalación

d-i finish-install/reboot_in_progress note
